#requirements
streamlit>=1.32.0
pandas>=1.5
numpy>=1.21
matplotlib>=3.5
seaborn>=0.11
plotly>=5.15
scikit-learn>=1.1
openpyxl  # Only if you read/write Excel files
pyodbc>=4.0
xgboost>=1.7
xlsxwriter>=3.0  # For writing Excel files with formatting

